:root {
    --fontcolor: #ffffff;
    --backgroundcolor: #ffffff;
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    /* box-sizing: border-box; */
    /* transition: all .2s linear; */
    text-transform: capitalize;
    text-decoration: none;
}


html {
    font-size: 12px;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

header {
    top: 0px;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 10px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("images/fundo.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

header #logo {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 25px;
    font-family: "Great Vibes", cursive;


}

header #logo span {
    color: var(--fontcolor);
    color: #ffb1db;
    font-family: "Great Vibes", cursive;
}

header .navbar a {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 1rem;
    text-align: center;
    font-weight: lighter;


}

.icons i {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 1rem;
    padding: 10px 0px;
}




p {

    top: 50px;
    padding: 5px;
    text-align: left;
    font-size: 50px;
    color: #ffb1db;
    font-family: "Tenor Sans", sans-serif;

}

.preto {
    color: rgb(92, 90, 90);
    font-size: 50px;
    margin: 0;
    font-family: "Playfair Display", serif;
    width: 500px;
    font-weight: bold;
    text-transform: ;
}

.rosa {
    font-family: "Great Vibes", cursive;
    text-transform: lowercase;



}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 30px;

}

.imagem-muie {
    width: 700px;
    height: 392px;
   margin-top:130px;

}

.destaque {
    font-size: 18px;
    /* margin-right: 1200px; */
    padding: 0.5px;
    text-transform: initial;
    align-items: center;
    width: 500px;
    color: #000;
    font-family: "Great Vibes",

}

.footer {
    background-color: #ff9ac3;
    background-size: cover;
    margin-top: 40px;
    
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 250px));
    gap: 20px;
    font-family: "Playfair Display", serif;
  }
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #244d4d;
    padding: 20px ;
    font-family: "Playfair Display", serif;
  }
  .footer .box-container .box p {
    font-size: 1.6rem;
    color: #779;
    padding-bottom: 1rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  .footer .box-container .box a {
    font-size: 1.4rem;
    color: #779;
    padding: 1rem 0;
    display: block;
    margin-left: 20px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  .footer .box-container .box a:hover {
    color: #244d4d;
    font-family: "Playfair Display", serif;
  }
  .footer .box-container .box a:hover i {
    padding-right: 2px;
    font-family: "Playfair Display", serif;
  }
  .footer .box-container .box a i {
    padding-right: 0.5px;
    color: #244d4d;
    font-family: "Playfair Display", serif;
  }
  .footer .box-container .box form input[type=email] {
    width: 100%;
    /* padding: 1rem 1.2rem; */
    font-family: "Playfair Display", serif;

    font-size: 1.6rem;
    color: #244d4d;
    text-transform: none;
    margin: 0.7rem 0;
    border: 0.1rem solid #244d4d;
    font-family: "Playfair Display", serif;
  }
  .credit {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #244d4d;
  }